<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </activePackageSource>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="XCGet" value="https://www.myget.org/F/xcomponent/auth/f47719c1-0eea-4c95-a676-702b78109efe" />
    <add key="DevExpress" value="https://nuget.devexpress.com/D4iKB2dk3irBl3jdKk1E2SnS69PczIVjlCs7mudRuSkwUFHmYl/api" />
  </packageSources>
  <disabledPackageSources />  
</configuration>
