<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.TextTemplating.14.0" version="14.2.25123" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.TextTemplating.Interfaces.10.0" version="10.0.30319" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.TextTemplating.Interfaces.11.0" version="11.0.50727" targetFramework="net452" />
  <package id="RabbitMQ.Client" version="3.6.1" targetFramework="net452" />
  <package id="T4Scaffolding.Core.SharpDevelop" version="1.0.1" targetFramework="net452" />
</packages>