<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <packageSources>
    <add key="Contoso Package Source" value="http://contoso.com/packages/" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>

  <disabledPackageSources>
    <add key="Contoso Package Source" value="true" />
  </disabledPackageSources>
</configuration>